#chosen{
    border: black solid;
    padding: 20px;
    background-color: white;
}
#form{
    border: black solid;
    padding: 20px;
    background-color: white;
}
#order-listing th{
background-color: black;
color: white;
}
.cantidad{
    color: blueviolet;
    font-size: 25px;
}